<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>myweb3</title>
  <link rel=stylesheet href=//at.alicdn.com/t/font_830376_qzecyukz0s.css>
  <link href=/static/vue/css/app.58fba8115d1b5c606d0c84e3db5a32df.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=/static/vue/js/manifest.52b26d63ca795e827c28.js></script>
  <script type=text/javascript src=/static/vue/js/vendor.67f95789cc67965595a7.js></script>
  <script type=text/javascript src=/static/vue/js/app.f0948371212cea032ac6.js></script>
</body>

</html>